.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bored-button {
  cursor: pointer;
}

#card {
  margin-left: 10%;
  background-color: rgb(54, 89, 122);
  color: white;
  padding: 3% 5%;
}
